#header {
    /*width: 400px;*/
    overflow: scroll;
    min-width: 400px;
    /*max-width: 400px;*/
    height: 100vh;
    padding: 1em;
}

#main {
margin:0px;
}

.map {
    height: 100vh;
}

                .alert-box {
                    min-width: 50px;
					height: 60px;
                    vertical-align: middle;
                    line-height: 60px;
                }

@media only screen and (max-width: 1024px) {
				#main {
				    flex-direction: column-reverse;
				}
				.map {
					height: 80vh;
				}
}
